@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-clr: hsl(220 10% 10%);
    --txt-clr: hsl(220 10% 98%);
}


html,
body {
    height: 100%;
}


body {
    display: grid;
    place-content: center;
    font-family: "IBM Plex Sans";
    color: var(--txt-clr);
    background-color: var(--bg-clr);
    /* overflow: hidden; */
    transition: background-color 0.3s, color 0.3s;
}


:has([data-state='convert.start']) {
    --txt-color: hsl(0 0% 0%);
    --bg-clr: hsl(60 100% 50%);
}


:has([data-state='convert.error']) {
    --txt-color: hsl(0 0% 0%);
    --bg-clr: hsl(10 100% 50%);
}


:has([data-state='convert.start']) {
    --txt-color: hsl(0 0% 0%);
    --bg-clr: hsl(146 100% 50%);
}

